body 
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: rgb(0, 7, 30);
    color: lightgray;
}
h1 
{
    text-align: center;
}
p
{
    line-height: 1.6;
}
#Instruction
{
    font-weight: bold;
}
#How
{
    font-style: italic;
    max-width: 600px;
    position: absolute;
    top: 100px;
    right: 10px;
    background-color:rgb(0, 0, 89);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
input 
{
    margin-bottom: 10px;
    padding: 5px;
    width: 250px;
}
#output 
{
    top: 100px;
    right: 10px;
    margin-top: 20px;
    white-space: pre-line; /* Keeps text linebreaks clean */
    font-family: monospace;
    background-color: rgb(0, 0, 89);
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    width: 300px;
}
#output-image {
    max-width: 800px;  
    margin: 0 auto;    
    top: 260px;
    right: 10px;
    background-color:rgb(0, 0, 89);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#output-image img {
    width: 100%;       
    height: auto;    
    align-items: center;  
}
#input-container 
{
    display: flex;
    flex-direction: column;
    background-color:rgb(0, 0, 89);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-bottom: 40px;
}
#calculateButton
{
    position: absolute;
    top: 650px;
    left: 400px;
    padding: 10px 20px;
    background-color: rgb(0, 0, 89);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: lightgray;
    font-weight: bold;
}
